body { /*trial*/
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;   
}

a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
nav{
    display: flex; /*flexbox for ul */
    justify-content: space-between; /*evenly distribute in their container*/
    
}

.header-nav {
    display: flex; /* flexbox for nav items*/
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;

}

ul > a, ul > img {

    padding: 0 8px; /*top & bottom 0px and right & left 8px*/
}

.header-img:hover {
    box-shadow: 0 0 10px 0 gainsboro;
    border-radius: 20px;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center; /*since flex direction is column; align-items:center works. If direction was row, then use the justify content!*/
    margin-top: 5vh; /*browser height x 5/100 */
}


@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

h1 {
    font-family: Product Sans;
    font-size: 5.5em;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

.input-container > input {  
    flex-grow: 1;
    border: none;
    outline: none;

}

img:hover {
    cursor: pointer;
}

.button-container {
    padding-top: 53px;
}
button {
    background-color:#f8f9FA;
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;
}

footer {

    background-color: f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#footer-left{
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;

}

#footer-right{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

@media (max-width: 630px){

    #footer-nav {
        flex-direction: column;
    }

    #footer-left {
        justify-content: center;
    }
    #footer-right {
        justify-content: center;
    }
    .input-container{
        width: 95vw;
    }
}

@media (max-height: 522px){

    body {
        overflow-x: hidden;
    }
    section {
        margin-bottom: 0px;
    }
    footer {
        position: relative;
    }
}

@media (max-height: 570px) and (max-width: 630px) {

    body {
        overflow-x: hidden;
    }
    section {
        margin-bottom: 13px;

    }
    footer {
        position: relative;
    }
    
}